h3 {
  font-weight: normal;
  margin-bottom: 0;
}

.weather--app--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 100%;
  max-width: 1200px;
  margin: 2rem auto;
}

.weather--description,
.wind--speed {
  margin-top: 0.2rem;
  font-size: 1rem;
  color: var(--text-muted);
}

.current--weather,
.search--grid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.showForecast--button {
  background-color: var(--button-bg);
  color: var(--text-primary);
  border-radius: 10px;
  border: 1px solid var(--background-light);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.showForecast--button:hover {
  background-color: var(--button-hover);
}

.forecast--date--buttons {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.forecast--date--buttons button {
  padding: 8px 12px;
  color: var(--text-primary);
  border: none;
  background-color: var(--button-bg);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.forecast--date--buttons button:hover {
  background-color: #405c4685;
}

.forecast--date--buttons button.active {
  background-color: #405c46;
  color: var(--text-primary);
  font-weight: bold;
}
