:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --text-primary: rgba(255, 255, 255, 0.9);
  --text-secondary: rgb(90, 86, 86);
  --text-muted: rgba(255, 255, 255, 0.678);
  --text-warning: rgba(163, 39, 39, 1);
  --background-light: #ffffff;
  --background-dark: #242424;
  --button-bg: #1b1b1b;
  --button-border: #cfd0e6;
  --button-hover: #969ae2;
  --link-color: #646cff;
  --link-hover: #646cff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-dark);
  color: var(--text-primary);
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-hover);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid var(--button-border);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--text-primary);
  background-color: var(--button-bg);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--button-hover-border);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
